Coding/Exploratory Data Analysis/indonesia_villages_border/
Coding/Exploratory Data Analysis/indonesia-district-master/
Coding/Property Recommender APP/combined_algorithm/
Coding/Property Recommender APP/results/

*.geojson