<!DOCTYPE html>
<html>
<head><title>User Input Form</title></head>
<body>
  <h2>Property Recommendation Form</h2>
  <form method="post">
    Type: 
    <select name="type">
      <option value="Rumah">Rumah</option>
      <option value="Apartemen">Apartemen</option>
    </select><br>
    Land Area: <input name="land_area" type="number"><br>
    Building Area: <input name="building_area" type="number"><br>
    Bedrooms: <input name="bedrooms" type="number"><br>
    Bathrooms: <input name="bathrooms" type="number"><br>
    Floors: <input name="floors" type="number"><br>
    SCHOOL: <input name="SCHOOL" type="checkbox" value="1"><br>
    HOSPITAL: <input name="HOSPITAL" type="checkbox" value="1"><br>
    TRANSPORT: <input name="TRANSPORT" type="checkbox" value="1"><br>
    MARKET: <input name="MARKET" type="checkbox" value="1"><br>
    MALL: <input name="MALL" type="checkbox" value="1"><br>
    City: <select name="city">
    <option value="Depok Kota">Depok Kota</option>
    <option value="Jakarta Pusat">Jakarta Pusat</option>
    <option value="Bogor Kab.">Bogor Kab.</option>
    <option value="Jakarta Timur">Jakarta Timur</option>
    <option value="Jakarta Selatan">Jakarta Selatan</option>
    <option value="Bekasi Kota">Bekasi Kota</option>
    <option value="Tangerang Selatan Kota">Tangerang Selatan Kota</option>
    <option value="Tangerang Kab.">Tangerang Kab.</option>
    <option value="Bekasi Kab.">Bekasi Kab.</option>
    <option value="nan">Not Available</option> 
    <option value="Bogor Kota">Bogor Kota</option>
    <option value="Tangerang Kota">Tangerang Kota</option>
    <option value="Jakarta Barat">Jakarta Barat</option>
    <option value="Jakarta Utara">Jakarta Utara</option>
    <option value="Kepulauan Seribu">Kepulauan Seribu</option>
    <option value="Bandung Kab.">Bandung Kab.</option>
    <option value="Surabaya Kota">Surabaya Kota</option>
    <option value="Sidoarjo Kab.">Sidoarjo Kab.</option>
    <option value="Gresik Kab.">Gresik Kab.</option>
  </select><br><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
